body {
  background-color: #8bb3c7;
  font-family: Arial, sans-serif;
}

#game-container {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
  font-size: 30px;
  text-align: center;
  border: 1px solid;
  padding: 19px;
  height: 30px;
  width: 30px;
  border-radius: 8px;
  top: 50%;
  display: inline-block;
}



.val0 {
  background-color: #fff;
}

.val2 {
  background-color: #f6fbfe;
}

.val4 {
  background-color: #f5fbfe;
}

.val8 {
  background-color: #ddf2fd;
}


.val16 {
  background-color: #c6e9fb;
}

.val32 {
  background-color: #aee0f9;
}

.val64 {
  background-color: #96d7f7;
}

.val128 {
  background-color: #7fcef5;
}

.val256 {
  background-color: #67c5f4;
}